# The database URL, e.g. http://127.0.0.1:8086 or https://127.0.0.1:8084 .
# Defaults to: http://127.0.0.1:8086
# url=http(s)://<host>:<port>

# The name of the database user, e.g. openhab.
# Defaults to: openhab
# user=ift605

# The password of the database user.
# password=IFcpK85FrXpA2Mu1oKBVcxnmcevgCk7Kv-2fybMv-YNYfJbP6a3oUhKmrw1_z2DT_DcOU4yhlMwxttuJ20KR7g==


# The name of the database, e.g. openhab.
# Defaults to: openhab
# db=Projet
